body {
    background-color: rgb(241, 239, 239);
    margin: 0;
    text-align: center;
    font-size: 16px; 
}
#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;   
  }

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 1.75rem;           
  }

.navbar-brand {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 1000;
    padding: 0;
    -webkit-text-stroke: 0.5px black;
    font-size: 1.75rem;
}

.hero-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../static/images/girl-laptop.jpg");
    background-color: darkblue;
    padding: 10vw 0;
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    color: white;
    padding-left: 2vw;
}

.hero-main-quotes {
    padding-top: 5vh;
    text-align: center;
    color: white;
    padding-left: 2vw;
}

.btn {
    background-color: hsl(53, 97%, 50%);
    color: black;
    outline: none;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: medium;
}

.blank {
    background-color: rgb(228, 227, 227);
    min-height: 4rem; 
    border-bottom: 1px solid rgb(34, 33, 33); 
    font-size: large; 
    padding-left: 4rem;
    border-radius: 0.3rem; 
    margin-right: 0.5vw; 
}

.choices {
    display: grid;
    padding: 1rem;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 0.75rem;
    gap: 5.rem;
}

.choices.hover {
    background-color: hsl(60, 8%, 92%);
}

.choice {
    background-color: hsl(235, 98%, 40%);
    color: whitesmoke;
    border-radius: 0.3rem; 
    padding: 0.3rem;
    margin: 0.5rem; 
    cursor: move;
}

.choice.hover {
    border-color: black;
}

.blank.hover {
    background-color: hsl(60, 2%, 25%);
}

.submit {
    background-color: hsl(53, 97%, 50%);
    color: rgb(37, 36, 36);
    outline-color: hsl(53, 97%, 18%);
    border-radius: 0.3rem; 
    margin: 2vw; 
    font-size: 1rem; 
    font-weight: bold;
    padding: 0.1rem 0.3rem;
}

#points {
    border-radius: 0.5rem; 
    font-size: 0.75rem; 
    background-color: hsl(53, 97%, 50%);
    padding: 0.3rem; 
    font-weight: bold;
}

.container-quiz {
    min-width: 16.5rem; 
    max-width: 31rem; 
    background-color: whitesmoke;
    border-radius: 1rem; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1rem;
    padding: 1.25rem; 
    font-size: 1.5rem;
    user-select: none; /* to avoid text from choices to be selected and dragged*/
    border: 1px solid rgb(207, 206, 206); 
}

.dragged-correct {
    background-color: hwb(128 1% 43%);
}

.dragged-wrong {
    background-color: hwb(7 3% 14%);
}

.question-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.start {
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.btn {
    background-color: hsl(119, 94%, 32%);
    color: rgb(255, 255, 255);
    outline: none;
    border-color: white;
}

.btn:hover {
    background-color: hsl(119, 95%, 24%);
    border-color: white;
}

#login-button {
    margin-right: 0.5rem;
}

.dropped {
    display: inline-block;
    padding: 0.03rem 0.03rem; 
    min-width: 3rem; 
    min-height: 1rem;
    font-size: large;
    margin: 0;
}

.feedback-wrong {
    font-size: 1rem; 
    color: hwb(7 3% 14%);
    font-weight: bolder;
}

#next-button {
    margin: 2vw; 
}

.feedback-correct {
    font-size: 1rem; 
    color: hwb(128 0% 58%);
    font-weight: bolder;
}

#points {
    font-size: 1rem; 
    background-color: hsl(0, 0%, 100%);
}