{% extends "layout.html" %}

{% block title %}
    Dragandrop
{% endblock %}

{% block main %}

    <select class="tenses-menu" name="tenses" id="tenses">
        <option value="default" disabled selected>Choose a tense</option>
        <option value="present">Present</option>
        <option value="present_stem_changing">Present Stem-Changing</option>
    </select>

<div class="container-quiz">
      

        <form>
        <div id="question-container" class="hide" >
            <span id="points">0/10 points</span>
            <h6 id="instructions">Drag and drop the correct verb to complete the sentence:</h6> 
            <p><span class="text_before"> </span> <span class="blank"></span><span class="text_after"> </span> </p>
            <p id="feedback"></p>
            <div id="choices" class="choices"></div>
            <button type="submit" id="submit" class="submit btn btn-primary">Submit</button>
            <button type="button" class="next-button btn btn-primary hide" id="next-button">Next</button>
        </div>
        </form>   
        <div class="start">
            <button class="btn btn-primary" id="start-button">Start</button>
            
        </div>
    </div>
    <script src="./mouse/checkIfMobile.js"></script>

    <script defer>

        async function fetchTenses() {
            try {
                let response = await fetch(apiUrl);
                if (response.ok) {
                    let data = await response.json();
                    console.log("data fetched: " + `${data}`);
                    return data;
                     
                } 
                
                else {
                    console.error("Failed to fetch data:", response.status, response.statusText);
                }
            } 
            
            catch (error) {
                console.error("Error while fetching data:", error);
            }
        }

        let apiUrl = "";

// Confirm the tense selected
const tensesList = document.querySelector("#tenses");

// Create a function to update APIUrl to which we add the tense selected
function updateApiUrl(selectedTense) {
    apiUrl = "/tenses/" + `${selectedTense}`;

}

// Add an event listener to listen for the tense selection
tensesList.addEventListener("change", (event) => {
  if(event.target.value !== "default"){  
    const selectedTense = event.target.value;
    updateApiUrl(selectedTense);
  }

  // Call the function to fetch data when the tense is selected
  fetchTenses()
    .then((result) => {
      // Access the "choices" and "questions" properties from the resolved object
      const choicesSelected = result.choices;
      const questionsSelected = result.questions;

      // Now, you can use the "choices" and "questions" variables as needed
      console.log(choicesSelected);
      console.log(questionsSelected);

            //create variables 
            let number_of_choices = 3;
            let displayedQuestion = 0;
            let total_points = 0;

            //define behavior of startButton 
            const startButton = document.querySelector("#start-button")                       
            startButton.addEventListener("click", (event) =>{
                event.preventDefault();
                startQuiz();
            });
            
            //Create variables of different html elements and event listeners and set behavior
            const instructions = document.querySelector("#instructions");
        
            const containerQuiz = document.querySelector(".container-quiz");
            const questionContainer = document.querySelector("#question-container");
            const nextButton = document.querySelector("#next-button");
            nextButton.addEventListener("click", () => {
                event.preventDefault();
                setNextQuestion(displayedQuestion);
            });
            const text_before = document.querySelector(".text_before");
            const text_after = document.querySelector(".text_after");
            const blank = document.querySelector('.blank');
            const choices = document.querySelector('.choices');
            const tensesMenu = document.querySelector('.tenses-menu');

            


            function startQuiz(){
                
                console.log("Quiz started");
                startButton.classList.add("hide");
                questionContainer.classList.remove("hide");
                tensesMenu.classList.add("hide");
                setNextQuestion(displayedQuestion);
            }
            function setNextQuestion() {
                // Clear previous questions and choices
                text_before.textContent = '';
                text_after.textContent = '';
                choices.innerHTML = '';
                blank.innerHTML = '';
                feedback.innerHTML = '';

                // Reset state
                blank.className = 'blank';
                nextButton.classList.add("hide");
                tensesMenu.classList.add("hide");
                submit.classList.remove("hide");
                feedback.classList.remove("feedback-wrong");
                feedback.classList.remove("feedback-correct");
            
                if (displayedQuestion < questionsSelected.length) {
                    // Set the question text
                    text_before.textContent = questionsSelected[displayedQuestion].question_text_before;
                    text_after.textContent = questionsSelected[displayedQuestion].question_text_after;
            
                    // Select choices for the current question
                    let choicesDisplayed = choicesSelected.filter(function(item) {
                        return item.question_number === displayedQuestion + 1;
                    });
            
                    // Display choices
                    choicesDisplayed.forEach(function(choiceItem) {
                        const span = document.createElement("span");
                        span.className = "choice";
                        span.id = choiceItem.choice;
                        span.textContent = choiceItem.choice;
                        span.draggable = true;
                        span.is_correct = choiceItem.is_correct;
                        choices.appendChild(span);
                    });
            
                    // Increment the displayedQuestion
                    displayedQuestion++;
                } 
                
                else {
                    // Handle end of questions
                    text_before.textContent = "Quiz completed!";
                    text_after.textContent = "";
                    submit.classList.add("hide");
                    instructions.classList.add("hide");
                    blank.classList.add("hide");
                }
                

            }
            
            //dragged will be the element that is dragged from the choices list
            //when the dragg starts we can set the data from the element so we can get it when the user drops it.
            let dragged = null;
            choices.addEventListener('dragstart', e => {
                e.dataTransfer.setData('is_correct', e.target.is_correct);
                dragged = e.target;
                console.log(dragged);
            });

            //Add effects for the blank zone when the user drags the element over it
            blank.addEventListener('dragover', e => {
                e.preventDefault();
                if (blank.firstChild) {
                        e.dataTransfer.dropEffect = 'none';
                } 
                else {
                        e.target.classList.add('hover');
                    }  
            });

            //Remove effects when leaves the blank zone
            blank.addEventListener('dragleave', e => {
                e.target.classList.remove('hover');
            });

            //Remove the hover effect from blank. Blank gets the data from the item and allow drop
            blank.addEventListener('drop', e => {
                e.target.classList.remove('hover');
                const is_correct = e.dataTransfer.getData('is_correct');
                if (e.target.className === 'blank' && !blank.firstChild){
                    e.target.appendChild(dragged);
                    blank.classList.add("dropped"); 
                    blank.firstChild.classList.add("dropped");
                    const allChoices = document.querySelectorAll('.choice');
                    allChoices.forEach(choice => {
                            choice.draggable = false;
                    });
                dragged.draggable = true;
                }
            });

            //reverse process if the user wants to change the answer before submitting
            blank.addEventListener('dragstart', (event) => {
                event.dataTransfer.setData('is_correct', event.target.is_correct);
                dragged = event.target;
            });

            choices.addEventListener('dragover', e => {
                e.preventDefault();
                e.target.classList.add('hover');
                
            });

            choices.addEventListener('dragleave', e => {
                e.target.classList.remove('hover');
            });

            choices.addEventListener('drop', e => {
                e.target.classList.remove('hover');
                const is_correct = e.dataTransfer.getData('is_correct');
                if (e.target.className === 'choices'){
                    e.target.appendChild(dragged);
                    blank.classList.remove("dropped"); 
                    dragged.classList.remove("dropped");
                    const allChoices = document.querySelectorAll('.choice');
                    allChoices.forEach(choice => {
                        choice.draggable = true;
                    });
                };
            });

            //create constants and variables to validate answers and update points
            const points = document.querySelector('#points')
            const feedback = document.querySelector('#feedback');
            const submit = document.querySelector('#submit');

            //When the button submit is clicked prevent the page from refreshing
            //Validate answer by checking the is_correct value
            //Provide feedback and update the points
            submit.addEventListener("click", e => {
                e.preventDefault();
                console.log(dragged.is_correct);
                if (blank.firstChild) {
                    if(dragged.is_correct === 1){
                        feedback.classList.add("feedback-correct");
                        feedback.textContent = '¡Muy bien!';
                        const allChoices = document.querySelectorAll('.choice');
                        allChoices.forEach(choice => {
                                if(choice == dragged){
                                    choice.classList.add("dragged-correct");
                                }
                    });
                        total_points++;
                        points.textContent = total_points + "/10 points";

                    }
                    else{
                        feedback.classList.add("feedback-wrong");
                        feedback.textContent = '¡Uy, casi!';
                        const allChoices = document.querySelectorAll('.choice');
                        allChoices.forEach(choice => {
                                if(choice == dragged){
                                    choice.classList.add("dragged-wrong");
                                }
                        });          
                    }
                
                dragged.draggable = false;
                nextButton.classList.remove("hide");
                submit.classList.add("hide")
                }
            });


    })
    .catch(error => {
        console.error(error);
    });
});
   </script>
{% endblock %}
   