{% extends "layout.html" %}
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <link href="/static/style.css" rel="stylesheet">
    

</head>
    {% block title %}
    Index 
    {% endblock %}

    {% block main %}
    <div class="hero-image">
      <div class="hero-text">
        <h1>¡Bienvenidos a SpanishHub!</h1>
        <p>Embark on an exciting linguistic adventure with SpanishHub, your ultimate destination for mastering the beautiful Spanish language.</p>
          <p><a class="btn btn-primary btn-lg" href="/register" role="button">🎉Start Your Learning Journey📚</a></p>
    </div>
    <div class="hero-main-quotes">
      <p>"A different language is a different vision of life."<br><br> - <a href="https://en.wikipedia.org/wiki/Federico_Fellini">Federico Fellini</a></p>
    </div>
    
    </div>  

    <script src="./mouse/checkIfMobile.js"></script>

    {% endblock %}
