<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link href="/static/custom.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <!--<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0//js/color-modes.js"></script>-->
        <title>SpanishHub</title>
    </head>
    <body>
      <div id="page-container">
        <div id="content-wrap">
          <header>
              <nav class="navbar navbar-expand-lg" style="background-color: rgb(255, 255, 255);">
                  <div class="container-fluid">
                    <div class="navbar-brand">
                    <a  href="/" style="text-decoration: none;">
                    <!-- <span style="color:#d82a2a; margin-right: 0; padding: right 0;">Spanish</span>
                    <span style="color:#e1e810; padding-left: 0; text-align: left; margin-left: 0;">Hub</span> -->
                    <img src="../static/images/spanish-hub.svg" alt="Spanish Hub Logo">
                    </a>
                  </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="/dragndrop">Practice Verbs</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/dragndrop">Present Tense</a></li>
                            <li><a class="dropdown-item" href="#">Present Stem Chaning Verbs</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Other tenses</a></li>
                          </ul>
                        </li>
                      </ul>
                      <a href="/login"><button class="btn btn-primary" id="login-button">Log In</button></a>
                      <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-primary" type="submit">Search</button>
                      </form>
                    </div>
                  </div>
                </nav>
          </header>
          <main class="py-5">
              {% block main %}
              
              {% endblock %}
          </main>
        </div>
      </div>
        <footer id="footer" class="text-body-secondary py-5">
          <div class="container">
            <p class="float-end mb-1">
              <a href="#">Back to top</a>
            </p>
            <p class="mb-1"> 2023 &copy; Spanish Hub</p>
          </div>
        </footer>
    </body>
    <script src="./mouse/checkIfMobile.js"></script>
</html>

