{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <h3>Register</h3>
        <div class="mb-3">
            <input type="text" class="form-control mx-auto w-auto" name="username" id="username" placeholder="Username" autocomplete="off" autofocus>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control mx-auto w-auto" name="password" id="password" autocomplete="off" placeholder="Password">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control mx-auto w-auto" name="confirmation" id="confirmation" autocomplete="off" placeholder="Confirm password">
        </div>
            <button type="submit" class="btn btn-primary">Register</button>
            <p>Already registered? <a href="/login">Login</a></p>
    </form>
{% endblock %}